<div class="content">
    <h1>Portfolio</h1>
    <div class="portfolio-cards">
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
        <app-card cardTitle="Social Media Website">
            A barebones social media website, most akin to Facebook.
        </app-card>
    </div>
</div>