.card {
    width: 250px;
    height: 250px;
    background-color: #16143a;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card h2, .card h3 {
    margin-top: 0;
    margin-bottom: 5px;
    align-self: center;
    flex-basis: content;
}

.card-content {
    flex-grow: 2;
}

.footer {
    align-self: center;
}