<div class="content">
    <h1>About Me</h1>

    <p>
        My name is Nick, and I am currently a junior software engineer from south Louisiana.
        I've been interested in software development for as long as I can remember.
        I started out with an interest in making custom webpages--back then I dabbled with some of those "WYSIWYG" website designers.
        Kinda like Wix, but some other tool that I don't remember the name of (I know, I'm only {{ age }}...).
        I then learned about HTML and CSS and that I could essentially build a webpage exactly how I wanted from scratch.
        Today, I enjoy
    </p>

    <p>
        I've stayed local to south Louisiana through all of my academic and professional career.
        I attended the University of Louisiana and graduated with my Bachelor's degree in Computer Science in December 2020.
        I am considering pursuing a Master's degree, but that's somewhere further down the road.
        In the professional world, I started as an intern in the IT department for the <a href="https://www.brec.org/" target="_blank">Recreation and Parks Commission for the parish of EBR</a>.
        I then got a second internship as a software developer at <a href="https://www.fugro.com/" target="_blank">Fugro</a>, a global geo-data company,
        where I was fortunately able to secure a full time engineer position right before graduating from college.
    </p>

    <p>
        Some technologies that I'm familiar with...
    </p>

    <ul>
        <li>.NET Core</li>
        <li>Angular 2</li>
        <li>Javascript/Typescript</li>

    </ul>
</div>
